
.general-info {
  height: 500px;
      background: #304e05;
  padding: 20px;
  margin-top: 120px;
  h5{color:#fff !important;
  margin-top:30px;}
    li {
      color: #fff; font-family: sailecMedium;}
      span{color:skyblue;}
     
}
.gf-cova{
  @media screen and (min-width:820px) {
    padding-left: 30px;
    }
 
}
.contact-info {
  padding: 40px 80px;
  @media screen and (max-width:820px){
    padding:10px;
    margin-bottom:40px;
  }
  p, h4{
      color: #fff !important;
    }
}
.contact-form {
  padding: 40px 0 0 0;
  margin-top: 30px;
  margin-bottom: 50px;

  .contact-form-inner {
    padding: 30px;
    border: solid 1px #e7e7e7;
  }
  span {
    font-size: 20px;
    color: rgb(249, 84, 84);
  }
  input {
    width: 100%;
    padding: 10px 20px;
    border: solid 1px #e7e7e7;
    border-radius: 5px;
  }
  textarea {
    min-height: 150px;
    width: 100%;
    padding: 10px 20px;
    border: solid 1px #e7e7e7;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  button {
   
    padding: 10px 35px;
    border-radius: 5px;
    border: none;
    font-size: 20px !important;
    margin-top: 10px;
    background: rgba(51, 50, 131, 1);
    color: #fff;
    font-family: sailecBold;
  }
  h6 {
    margin-top: 30px;
  }
  .file-input-wrapper {
    display: inline-block;
    position: relative;
    width: 100%; /* Ensure the wrapper takes up the full width */
    font-family: sailecBold;
  }

  .file-input {
    display: none; /* Hide the default file input */
  }

  .file-input-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    background-color: rgb(249, 249, 249);
    border: 2px dashed #e7e7e7;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make the label take up the full width of its container */
    text-align: center;
  }

  .file-input-label:hover {
    background-color: #e0e0e0;
  }

  .file-input-icon {
    margin-right: 8px;
    font-size: 18px;
  }

  .file-input-label:active {
    background-color: #d0d0d0;
  }
}
.order-form {
  padding: 40px 20px;
  background: #fff;
  box-shadow: 0 0 2px 2px #e7e7e7;
  margin-top: 200px;
  margin-bottom: 50px;
  border-radius: 5px;
  input {
    padding: 10px 20px;
    border: none;
    font-family: sailecBold;
  }
  input {
    padding: 10px 20px;
    border: solid 1px #e7e7e7;
    font-family: sailecBold;
  }

  .input-wrap {
    border: solid 1px #e7e7e7;
    border-radius: 5px;
    padding: 0 8px;
    input {
      padding: 10px 20px;
      border: none;
      font-family: sailecBold;
    }
  }
  button,
  h6 {
    margin-top: 30px;
    font-family: sailecBold;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
  }
  h4 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.contact-hero {
  height: 700px;
  width: 100%;
  position: relative;
  background-size: cover !important;
  background-repeat: no-repeat;
margin-top:-200px;
z-index:-1;
  background: url("../../assets/images/contact.jpg");
  @media screen and (max-width:820px) {
  background-position: center; }
 
  img {
    height: 400px;
  }
  h1 {
    position: absolute;
    left: 10%;
    top: 80%;
    color: #fff !important;
  }
}
