.select-div {
  background: #fff;
  button {
    background: #fff;
    color: #000;
    border: none;
    font-family: sailecMedium;
    &:hover {
      background: rgb(208, 207, 207);
      color: #000;
    }
  }
  a {
    color: rgb(64, 63, 63);
    text-decoration: none;
    font-size: 16px;
  }
  :active {
    background: red !important;
  }
}
