.banner {
  height: 600px;
  background: url("../../assets/images/cloud-bg.avif");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  p {
    font-size: 60px;
    font-family: sailecLight;
  }
  h5 {
    border-bottom: solid 1px #003057;
    width: fit-content;
  }
}
