.banner {
  height: 600px;
  background: url("../../assets/images/cloud-bg.avif");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  p {
    font-size: 60px;
    font-family: sailecLight;
    margin-top: 30px;
    line-height: 70px;
  }
  h5 {
    border-bottom: solid 1px #003057;
    width: fit-content;
  }
}
.problem-div {
  margin-top: 80px;
  h4 {
    border-bottom: solid 1px #003057;
    width: fit-content;
  }
  p {
    font-size: 45px;
    font-family: sailecRegularIt;
  }
}
.scroll-container {
  display: flex;
  justify-content: center;
  padding: 100px;
  p {
    margin-bottom: 240px;
    font-size: 22px;
    opacity: 0.3;
    transition: opacity 1s ease-in-out;
  }
}
.writeup p.visible {
  opacity: 1;
}

.writeup p.hidden {
  opacity: 0.3;
}
.content {
  display: flex;
  gap: 20px;
}

.sticky-image {
  position: sticky;
  top: 20px;
  height: fit-content;
  width: 50%;
}

.writeup {
  //   height: 1000px; /* Just for demo purposes */
  overflow-y: auto;
  margin-top: 200px;
}
.paper-div {
  height: 700px;
  background: rgb(241, 223, 200);
  background: linear-gradient(
    90deg,
    rgba(241, 223, 200, 1) 60%,
    rgba(245, 229, 206, 1) 77%
  );

  .refil {
    background: url("../../assets/images/paper.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .pd-1 {
    margin-top: 150px;
  }
}

.video-slide-container {
  position: relative;
  .video-background {
  }
  .writeup-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 100px 0; /* Added padding to allow scroll to trigger */
  }
}
.dropping-texts {
  display: inline-block;
  width: 180px;
  text-align: left;
  height: 36px;
  vertical-align: -2px;
}

.dropping-texts > div {
  font-size: 0px;
  opacity: 0;
  margin-left: -30px;
  position: absolute;
  font-weight: 300;
  box-shadow: 0px 60px 25px -20px rgba(0, 0, 0, 0.5);
}

.dropping-texts > div:nth-child(1) {
  animation: roll 5s linear infinite 0s;
}
.dropping-texts > div:nth-child(2) {
  animation: roll 5s linear infinite 1s;
}
.dropping-texts > div:nth-child(3) {
  animation: roll 5s linear infinite 2s;
}
.dropping-texts > div:nth-child(4) {
  animation: roll2 5s linear infinite 3s;
}

@keyframes roll {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity: 1;
    transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }
  20% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    transform: rotate(0deg);
  }
  27% {
    font-size: 0px;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 100px;
  }
  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(15deg);
  }
}

@keyframes roll2 {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity: 1;
    transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }
  30% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    transform: rotate(0deg);
  }
  37% {
    font-size: 1500px;
    opacity: 0;
    margin-left: -1000px;
    margin-top: -800px;
  }
  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(15deg);
  }
}

@keyframes bg {
  0% {
    background: #ff0075;
  }
  3% {
    background: #0094ff;
  }
  20% {
    background: #0094ff;
  }
  23% {
    background: #b200ff;
  }
  40% {
    background: #b200ff;
  }
  43% {
    background: #8bc34a;
  }
  60% {
    background: #8bc34a;
  }
  63% {
    background: #f44336;
  }
  80% {
    background: #f44336;
  }
  83% {
    background: #f44336;
  }
  100% {
    background: #f44336;
  }
}
