footer {
  .footer-inner {
    padding: 80px 50px;
    background: rgb(0, 48, 87);
    color: #fff !important;
    h3,
    h6 {
      color: #fff !important;
    }
    p,
    small {
      color: #fff !important;
    }
    small {
      font-family: sailecLight;
    }
    input {
      width: 100%;
      padding: 13px 30px;
      border-top-left-radius: 35px;
      border-bottom-left-radius: 35px;
      border: none;
      font-family: sailecMedium;
      font-size: 18px;
    }
    ::placeholder {
      color: rgb(155, 170, 209);
    }
    .sub-btn {
      background: #3369ff;
      color: #fff;
      font-size: 35px;
      padding: 0px 40px;
      border-radius: 35px;
      border: none;
      margin-left: -30px;
    }
    .input-holder {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .socials {
      li {
        margin: 20px 30px;
      }
      a {
        color: #fff !important;
        font-size: 24px;
        text-decoration: none;
        margin-bottom: 30px;
      }
    }
    #arrow {
      &:hover {
        margin-right: -10px;
        transition: 0.5s ease;
      }
    }
  }
  .footer-top {
    height: 20px;
    background: rgb(58, 109, 255);
    background: linear-gradient(
      90deg,
      rgba(58, 109, 255, 1) 8%,
      rgba(243, 223, 255, 1) 51%,
      rgba(152, 193, 255, 1) 93%
    );
  }
}
