footer {
  .footer-inner {
    padding: 80px 50px;
    background: rgb(0, 48, 87);
    color: #fff !important;
    h3 {
      color: #fff !important;
    }
    p {
      color: #fff !important;
    }
    input {
      width: 100%;
      padding: 10px;
      border-top-left-radius: 35px;
      border-bottom-left-radius: 35px;
      border: none;
      font-family: sailecMedium;
    }
    ::placeholder {
      color: red;
    }
    .sub-btn {
      background: #3369ff;
      color: #fff;
      font-size: 35px;
      padding: 0px 40px;
      border-radius: 35px;
      border: none;
      margin-left: -30px;
    }
    .input-holder {
    }
  }
  .footer-top {
    height: 20px;
    background: rgb(58, 109, 255);
    background: linear-gradient(
      90deg,
      rgba(58, 109, 255, 1) 8%,
      rgba(243, 223, 255, 1) 51%,
      rgba(152, 193, 255, 1) 93%
    );
  }
}
