footer {
  .footer-inner {
    padding: 80px 50px;
    background: rgb(0, 48, 87);
    color: #fff !important;
    overflow: hidden;
    h3,
    h6 {
      color: #fff !important;
    }
    p,
    small {
      color: #fff !important;
    }
    small {
      font-family: sailecLight;
    }
    input {
      width: 100%;
      padding: 13px 30px;
      border-top-left-radius: 35px;
      border-bottom-left-radius: 35px;
      border: none;
      font-family: sailecMedium;
      font-size: 18px;
    }
    ::placeholder {
      color: rgb(155, 170, 209);
    }
    a {
      color: #fff !important;
      font-size: 16px;
      text-decoration: none;
      margin-bottom: 35px;
      color: rgb(0, 99, 228);
      font-size: 1.3rem;
      text-decoration: none;
      display: inline-block;
      padding: 0.5em;
      position: relative;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

      &:before,
      &:after {
        position: absolute;
        content: "";
        border-bottom: 3px solid rgb(0, 99, 228);
        border-radius: 1em;
        bottom: 0.3em;
        transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &:before {
        width: 1em;
        transform-origin: left;
      }

      &:after {
        width: 82%;
        left: 1em;
        transform: translateX(110%);
      }

      &:hover:before {
        transform: scaleX(0.3);
      }

      &:hover:after {
        transform: translateX(0);
      }
    }
    .sub-btn {
      background: #3369ff;
      color: #fff;
      font-size: 35px;
      padding: 0px 40px;
      border-radius: 35px;
      border: none;
      margin-left: -30px;
    }
    .input-holder {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .socials {
      li {
        margin: 20px 30px;
      }
      a {
        color: #fff !important;
        font-size: 24px;
      }
    }
    #arrow {
      &:hover {
        margin-right: -10px;
        transition: 0.5s ease;
      }
    }
  }
  .footer-top {
    height: 20px;
    background: rgb(58, 109, 255);
    background: linear-gradient(
      90deg,
      rgba(58, 109, 255, 1) 8%,
      rgba(243, 223, 255, 1) 51%,
      rgba(152, 193, 255, 1) 93%
    );
  }
}
