footer {
  padding: 10px 50px;
  background: rgb(0, 48, 87);
  border-top: solid 10px
    linear-gradient(
      90deg,
      rgba(222, 234, 255, 1) 13%,
      rgb(115, 12, 141) 78%,
      rgba(255, 242, 223, 1) 93%
    );
}
