.mission-landing {
  padding-top: 300px;
  padding-bottom: 300px;
  background: rgb(130, 186, 227);
  background: linear-gradient(
    180deg,
    rgba(130, 186, 227, 1) 46%,
    rgba(171, 201, 227, 1) 69%
  );
  h1 {
    font-family: sailecLight;
    font-size: 80px;
  }
  p {
    font-size: 20px;
  }
}
.mission-statement {
  padding-top: 100px;
  padding-bottom: 100px;
  p {
    font-size: 20px;
  }
}
.mission-statement2 {
  padding-top: 100px;
  padding-bottom: 100px;
  h1 {
    font-family: sailecLight;
    font-size: 40px;
    margin-bottom: 30px;
  }
}
.change-div {
  background: #f9f5eb;
}
.mission-navlinks {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f5f9ff;
  position: sticky;
  top: 60px;
  ul {
  }
  li {
    margin: 0 135px;

    a {
      font-size: 16px;
      font-family: sailecMedium;
      text-decoration: none;
      color: #003057;
    }
    a.active {
      // color: #000;
      font-family: sailecBold;
      border-bottom: 4px solid rgb(84, 84, 219);
    }
  }
}
#planet {
  margin-bottom: 200px;
  margin-top: 200px;
  p {
    font-size: 13px;
  }
}
#product {
  margin-bottom: 200px;
  margin-top: 200px;
}
#people {
  margin-bottom: 200px;
  margin-top: 200px;
}
#policy {
  height: 400px;
  background: green;
  margin-bottom: 200px;
  margin-top: 200px;
}
