.prd-slide-cont{
    @media screen and (max-width:820px){
       height:50vh !important
    }
}
.mobile-dots{
    @media screen and (max-width:820px){
       margin-top:-150px !important;
       display:none !important
    }
}