.products-section {
  padding: 20px;

  img {
    border: solid 1px #e7e7e7;
    box-shadow: 2px 2px 5px 5px rgba(231, 231, 231, 0.75);
    -webkit-box-shadow: 2px 2px 5px 5px rgba(231, 231, 231, 0.75);
    -moz-box-shadow: 2px 2px 5px 5px rgba(231, 231, 231, 0.75);
  }
}
.sliding-products {
}
.products-section {
  .details {
    height: 100px;
    background: #eff5ff;
    padding: 20px 10px;
  }
}
