@font-face {
  font-family: sailecMedium;
  src: url(./assets/fonts/Sailec-Font/Sailec-Medium/Sailec-Medium.ttf);
}
@font-face {
  font-family: sailecRegularIt;
  src: url(./assets/fonts/Sailec-Font/Sailec-Regular-Italic/Sailec-Regular-Italic.ttf);
}
@font-face {
  font-family: sailecBold;
  src: url(./assets/fonts/Sailec-Font/Sailec-Bold/Sailec-Bold.ttf);
}
