.order-details {
  border: solid 1px #e7e7e7;
  border-radius: 10px;
  padding: 40px;
  cursor: pointer;
  h6 {
    color: #18272f;
    position: relative;
    text-decoration: none;
    text-decoration: none !important;
  }
  a {
  }
  h6::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272f;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  h6:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

.contact-form {
  border: solid 1px #e7e7e7;
  padding: 40px 0 0 0;
  margin-top: 30px;
  margin-bottom: 50px;
  h4 {
    border-bottom: solid 1px #e7e7e7;
    padding-left: 30px;
    padding-bottom: 20px;
  }
  .contact-form-inner {
    padding: 30px;
  }
  span {
    font-size: 20px;
    color: red;
  }
  input {
    width: 100%;
    padding: 10px 20px;
    border: solid 1px #e7e7e7;
    border-radius: 5px;
  }
  textarea {
    min-height: 300px;
    width: 100%;
    padding: 10px 20px;
    border: solid 1px #e7e7e7;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  button {
    width: 100%;
    padding: 14px;
    border-radius: 5px;
    border: none;
    font-size: 26px !important;
    margin-top: 30px;
    background: #000;
    color: #fff;
    font-family: sailecBold;
  }
  h6 {
    margin-top: 30px;
  }
  .file-input-wrapper {
    display: inline-block;
    position: relative;
    width: 100%; /* Ensure the wrapper takes up the full width */
    font-family: sailecBold;
  }

  .file-input {
    display: none; /* Hide the default file input */
  }

  .file-input-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    background-color: rgb(249, 249, 249);
    border: 2px dashed #e7e7e7;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make the label take up the full width of its container */
    text-align: center;
  }

  .file-input-label:hover {
    background-color: #e0e0e0;
  }

  .file-input-icon {
    margin-right: 8px;
    font-size: 18px;
  }

  .file-input-label:active {
    background-color: #d0d0d0;
  }
}
.order-form {
  padding: 40px 20px;
  background: #fff;
  box-shadow: 0 0 2px 2px #e7e7e7;
  margin-top: 200px;
  margin-bottom: 50px;
  border-radius: 5px;
  input {
    width: 100%;
    padding: 10px 20px;
    border: solid 1px #e7e7e7;
    border-radius: 5px;
    font-family: sailecBold;
  }
  h6,
  button {
    margin-top: 30px;
    font-family: sailecBold;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 6px;
  }
}
