.wholesale-page {
  height: 900px;
  border: solid 1px #003057;
  margin-top: 200px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #e7e7e7;
  margin-bottom: 50px;
  padding: 20px;
  h6 {
    margin-top: 20px;
  }
  img {
    margin-bottom: 30px;
  }
  input {
    width: 100%;
    padding: 10px 20px;
    border: solid 1px #e7e7e7;
    border-radius: 5px;
    font-family: sailecBold;
  }
  span {
    color: red;
  }
}
.chec-body {
  margin: 2em;

  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: flex-start;
}
.check-group {
  background: #fff;
  max-width: 13rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgb(0 0 10 / 0.2);

  counter-reset: total;
  counter-reset: checked;

  > * + * {
    margin-top: 0.75rem;
  }

  .checkbox {
    counter-increment: total;
  }

  input[type="checkbox"]:checked {
    counter-increment: checked;
  }

  &__result {
    font-weight: bold;
    padding-top: 0.75rem;
    border-top: 1px solid rgb(0 0 0 / 0.2);

    &:after {
      content: counter(checked) " / " counter(total);
      padding-left: 1ch;
    }
  }
}

.checkbox {
  $block: &;

  cursor: pointer;
  display: flex;
  align-items: center;

  &__input {
    position: absolute;
    width: 1.375em;
    height: 1.375em;
    opacity: 0;
    cursor: pointer;

    &:checked + #{$block}__icon .tick {
      stroke-dashoffset: 0;
    }
  }

  &__icon {
    width: 1.375em;
    height: 1.375em;
    flex-shrink: 0;
    overflow: visible;

    .tick {
      stroke-dasharray: 20px;
      stroke-dashoffset: 20px;
      transition: stroke-dashoffset 0.2s ease-out;
    }
  }

  &__label {
    margin-left: 0.5em;
  }
}
