.offcanvas {
  background: rgb(222, 234, 255);
  background: linear-gradient(
    180deg,
    rgba(222, 234, 255, 1) 25%,
    rgba(255, 255, 255, 1) 75%
  );
  .item-list {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    // margin-bottom: 15px;
  }
  p {
    margin-bottom: 0;
  }
  .remove-btn {
    color: red;
    font-size: 20px;
  }
  .increments {
    border: solid 1px #003057;
    width: fit-content;
    padding: 5px 10px;
    color: #003057;
    font-family: sailecMedium;
    font-size: 18px;
    border-radius: 35px span {
      margin: 0 10px;
    }
  }
}
