.collection-section {
  margin-top: 100px;
  padding-right: 70px;
  padding-left: 70px;
  @media screen and (max-width:820px){
    margin-top:50px;
    padding-right: 10px;
      padding-left: 10px;
  }
    @media screen and (min-width: 820px) and (max-width: 1024px){
      padding-right: 10px;
        padding-left: 0px;
    }
}
.sort-bar {
  font-family: sailecMedium;
  @media screen and (max-width:820px) {
      margin-top: 30px;
     
    }
}
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  // background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.lineUp {
  animation: 10s anim-lineUp ease-out infinite;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.prd-figure{
  color: rgb(216, 216, 216);
  font-size: 30px;
  @media screen and (max-width:820px){
    font-size:18px;
  }
}
