@import "../../variables";



.home-div {
  // margin-top: 100px;
  @media screen and (max-width:820px){
    padding-left: 7px;
      padding-right: 7px;
  }
  .abt-div {
    padding-top: 150px;
    padding-bottom: 50px;
    @media screen and (min-width: 300px) and (max-width: 820px){
      padding-top:0px;
      margin-top:-230px;
    }
    @media screen and (min-width: 820px) and (max-width: 1024px){
      padding-top:0px;
      // margin-left:30px !important;
     padding-right:0px !important;
      margin-top:-150px;
      
    }
    h6 {
      color: grey !important;
      font-size: 14px;
    }
    h5 {
      padding-right: 65px;
      line-height: 40px;
      font-size: 35px;
      color: #312b83;
      @media screen and (max-width:820px) {
        font-size: 20px;
        }
    }
    button {
      background: #fff;
      border: solid 3px #7bbd21;
      font-family: sailecBold;
      color: #7bbd21;
      padding: 10px 25px;
      
      &:hover {
        background: #203602;
        color: #fff;
      }
    }
    p {
      font-size: 12px;
      line-height: 30px;
      color: #4b3d97 !important;
    }
  }
  .home-prd {
    padding-top: 60px;
   
    @media screen and (max-width:820px){
      padding-top:20px;
    }
    h2{
      color: #312b83;
    }
    h6 {
      color: grey !important;
      font-size: 14px;
    }
    p{color: #4b3d97!important}
  }
}
.video {
  position: relative;
  z-index: -1;
}

.category-div {
  padding-bottom: 100px;
  height: fit-content;
  @media screen and (max-width: 820px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.testifiers-div {
  background: rgb(245, 249, 255);
  margin-bottom: 190px;
  @media screen and (max-width: 820px) {
    margin-bottom: 90px;
    }
  .testifiers {
    padding: 30px 50px;
    @media screen and (max-width: 820px) {
      padding: 20px 7px;
    }
    h5 {
      margin-bottom: 40px;
      @media screen and (max-width: 820px) {
        margin-bottom: 10px;
        font-size: 14px;
      }
    }
    img {
      @media screen and (max-width: 820px) {
        width: 50px;
      }
    }
  }
}

.carousel-container {
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel > div {
  box-sizing: border-box;
}
.prod-slide {
  overflow: hidden;
}
.statement {
  margin-top: 100px;
  padding: 50px;
  background: #fff;
  height: 450px;
  margin-left: -50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  @media screen and (max-width: 820px) {
    padding-left: 10px;
padding:40px;
    margin-left:0;
    border-top-right-radius:80px;
    border-top-left-radius:80px;
    margin-top:-200px !important;
    position:relative;
    z-index:4;
  }

 @media screen and (min-width: 820px) and (max-width: 1024px){
   height:fit-content
 }



  h2 {
    margin-top: 30px;
    span {
      color: #7bbd21 !important;
    }
    @media screen and (max-width: 820px) {
      font-size: 16px;
      margin-top: 10px;
    }
  }
  h5 {
    border-bottom: solid 1px #7bbd21;
    width: fit-content;
    color: grey !important;
    @media screen and (max-width: 820px) {
      font-size: 15px;
    }
  }
  p {
    font-size: 18px;
    margin-bottom: 50px;
    @media screen and (max-width: 820px) {
      font-size: 14px;
      margin-bottom: 25px;
    }
  }
  a {
    font-family: sailecBold;
    color: #7bbd21;
    font-size: 16px;
    text-decoration: none;
    border: solid 1px #92ca44;
    padding: 20px 32px;
    &:hover {
      color: #8bbe44;
    }
  }
  @media screen and (max-width: 820px) {
    margin-top: 30px;
  }
}

.testimonial-div {
  h3 {
    @media screen and (max-width: 820px) {
      font-size: 14px !important;
    }
  }
  p {
    @media screen and (max-width: 820px) {
      font-size: 12px !important;
    }
  }
  .testimonial-carousel {
    position: relative;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .testimonial-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      transition: transform 0.5s ease;
    }

    .testimonial-slide {
      padding: 40px;
      text-align: center;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: transform 2s ease, opacity 2s ease;
      position: relative;
      height: 250px;
      @media screen and (max-width: 820px) {
        padding: 20px;
        height: 150px;
      }
    }
    .dots {
      position: absolute;
      bottom: 10px; /* Adjust as needed */
      display: flex;
      justify-content: center;
      gap: 8px;
    }

    .dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.3);
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .dot.active {
      background-color: #333;
    }
    .testimonial-slide.active {
      transform: scale(1.1);
      opacity: 1;
      z-index: 2; // Keeps the active testimonial on top
    }

    h3 {
      margin-bottom: 10px;
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 15px;
    }

    .rating {
      font-size: 1.2rem;
      color: gold;
    }

    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      cursor: pointer;
      outline: none;
      z-index: 2;
    }

    .arrow.left {
      left: 10px;
    }

    .arrow.right {
      right: 10px;
    }
  }
}

.products-intro-corner{
  background:#fff9e7;
 padding-bottom:150px;
  margin-bottom:50px;
}


.products-grid-container {
  padding: 20px;
  width: 100%;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}
@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns on small screens */
  }
}

@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: 1fr; /* Single column on very small screens */
  }
}
@media (max-width: 768px) {
  .prod-slide {
    padding: 0 10px;
  }
}
/* Default: 4 items in a row */
.carousel {
  flex: 0 0 25%; /* 100% / 4 items */
}

@media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 50%; /* 100% / 2 items */
  }
}

@media (max-width: 480px) {
  .carousel-item {
    flex: 0 0 100%; /* 100% / 1 item */
  }
}
.prd-slid {
  // background-color: #000;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.65;
}
.news-div {
  h6 {
    color: grey !important;
  }
  padding-top: 60px;
  padding-bottom: 60px;
  p {
    color: grey;
    padding: 10px 40px;
    font-size: 18px;
  }
  .news-inner {
    padding-top: 70px;
    padding-bottom: 60px;
    background: rgba(245, 249, 255, 1);
  }
}
.mission-vision{
  // background:$prdbg1;
  @media screen and (min-width: 820px) and (max-width: 1024px) {
      height: 500px
    }
  img{
    height:600px;
    object-fit:contain;
  @media screen and (min-width: 820px) and (max-width: 1024px){
     
      object-fit: cover;
    }
  }
}