// ProductDetail.scss

.product-detail {
  // display: flex;
  gap: 2rem;
  padding: 2rem;
  // margin-top: 20px;
  z-index: 10;
@media screen and (max-width:820px) {
  padding: 1rem;
  }
  .product-images {
    display: flex;
    flex: 1;
@media screen and (max-width:820px){
  display:block;
}
    .main-carousel {
      position: relative;
      
      overflow: hidden;
     
.all-sections{
  a{
    text-decoration: none;
    color:black;
   
  }
}
      .image-container {
        display: flex;
        transition: transform 0.6s ease-in-out;

        .main-image {
        border-radius: 8px;
          min-width: 100%;
          height:870px;
          object-fit:auto;
          @media screen and (max-width:820px) {
              height: 400px;
            }
        }
      }

      .prev-arrow,
      .next-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 2rem;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 50%;
        z-index: 10;
        @media screen and (max-width: 820px) {
          top: 30%;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.7);
        }
      }

      .prev-arrow {
        left: 10px;
      }

      .next-arrow {
        right: 10px;
      }
    }

    .image-thumbnails {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      margin-top:80px;
      @media screen and (max-width: 820px) {
        margin-right: 20px;
        margin-top: 0px;
        margin-bottom: 20px;
        display: inline;
      }
      .thumbnail {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 4px;
        cursor: pointer;
        border: 2px solid transparent;
        transition: border-color 0.3s;
  @media screen and (max-width: 820px) {
     
      margin-bottom: 10px;
      margin-top: 10px;
     
    }
        &.active {
          border-color: #007bff;
        }

        &:hover {
          border-color: #0056b3;
        }
      }
    }
  }

  .product-info {
    // display: flex;
    // flex-direction: column;
    gap: 1rem;
li{
    font-family: sailecMedium;
}
    h1 {
      font-size: 2rem;
      margin-bottom:0;
      // margin-bottom: 0.1rem;
      @media screen and (max-width: 820px) {
        margin-top: 30px;
        font-size: 1.5rem;
      }
    }
    h6{
      margin-top:12px;
      margin-right:5px;
    }
p{
  // margin-top:-20px !important;
}
    .price {
      font-weight: bold;
      font-size: 1.2rem;
      color: #333;
    }

    button {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      background-color: #007bff;
      border: none;
      border-radius: 4px;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease;
      @media screen and (max-width: 820px) {
        font-size: 14px !important;
        margin-top: 0;
      }
      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
.add-to-cart2 {
  width: 100%;
  margin-top:30px;
  background: rgb(51, 105, 255);
  border: solid 1px rgb(51, 105, 255);
  padding: 11px !important;
  color: #fff;
  font-family: sailecMedium;
  font-size: 20px !important;
  border-radius: 45px !important;
  transition: 0.5s ease;
  
  &:hover {
    color: #003057 !important;
    border: solid 1px #003057 !important;
    background: rgb(222, 234, 255);
    background: linear-gradient(
      90deg,
      rgba(222, 234, 255, 1) 13%,
      rgba(250, 230, 255, 1) 78%,
      rgba(255, 242, 223, 1) 93%
    );
  }
}
.quantity-controls {
  border: solid 1px #003057;
  width: fit-content;
  padding: 3px 25px;
  border-radius: 35px;
  span {
    font-size: 25px;
    color: #003057;
    font-family: sailecMedium;
    margin: 10px;
  }
    @media screen and (max-width: 820px) {
      margin-bottom: 30px;
    }
}
