.upper-nav-div {
  background: rgb(222, 234, 255);
  background: linear-gradient(
    90deg,
    rgba(222, 234, 255, 1) 24%,
    rgba(250, 230, 255, 1) 78%,
    rgba(255, 242, 223, 1) 93%
  );
  padding: 10px;
  font-size: 14px;
  p {
    margin-top: 5px;
  }
}
.middle-nav-div {
  background: #fff;
  padding: 4px 35px;
  position: sticky;
  width: 100% !important;

  a {
    color: #003057;
    text-decoration: none;
    font-size: 18px;
    margin-right: 25px;
  }
  ul {
    margin-top: 20px;
  }
  img {
    border-radius: 10px;
  }
}
.lower-nav-div {
  background: #f5f9ff;
  padding: 18px;
  a {
    color: #003057;
    font-size: 14px;
    text-decoration: none;
    margin: 15px;
  }
}
.top-nav {
  position: relative; // Ensure the parent allows for sticky positioning.
  height: 100px;
  .upper {
    transition: transform 0.3s ease-in-out;
    &.hide {
      transform: translateY(-100%);
    }
  }

  .middle {
    position: sticky;
    top: 0; // Ensure it's fixed at the top when scrolling.
    z-index: 1000;
    background: white;
  }

  .lower {
    transition: opacity 0.3s ease-in-out;
    &.hide {
      opacity: 0;
      pointer-events: none;
    }
  }
}
