.upper-nav-div {
  background: rgb(222, 234, 255);
  background: linear-gradient(
    90deg,
    rgba(222, 234, 255, 1) 24%,
    rgba(250, 230, 255, 1) 78%,
    rgba(255, 242, 223, 1) 93%
  );
  padding: 10px;
  font-size: 14px;
  p {
    margin-top: 5px;
  }
}
.middle-nav-div {
  background: #fff;
  padding: 4px 40px;
  border-bottom: solid 1px red;
  a {
    color: #003057;
    text-decoration: none;
    font-size: 18px;
  }
  ul {
    margin-top: 20px;
  }
}
