.tab-content {
  padding-top: 30px;
  display:flex;
@media screen and (max-width:820px){
  padding-left:10px;
}
@media screen and (min-width: 820px) and (max-width: 1024px) {
 display:block
}
@media screen and (min-width: 300px) and (max-width: 820px) {
 display:block
}


  .left-content {
    padding-right: 10px;
  }
  .right-content {
    padding-left: 10px;
    // margin-top: 30px;
  }
  img {
    border-radius: 10px;
    z-index: -1;
    position: relative;
  }
  h6 {
    margin-top: 40px;
    text-decoration: underline;
  }
}
