@font-face {
  font-family: sailecMedium;
  src: url(./assets/fonts/Sailec-Font/Sailec-Medium/Sailec-Medium.ttf);
}
@font-face {
  font-family: sailecRegularIt;
  src: url(./assets/fonts/Sailec-Font/Sailec-Regular-Italic/Sailec-Regular-Italic.ttf);
}
@font-face {
  font-family: sailecBold;
  src: url(./assets/fonts/Sailec-Font/Sailec-Bold/Sailec-Bold.ttf);
}
@font-face {
  font-family: sailecLight;
  src: url(./assets/fonts/Sailec-Font/Sailec-Light/Sailec-Light.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sailecBold;
  color: black;
}
p {
  font-family: sailecMedium;
  color: rgb(59, 59, 59) !important;
}
a {
  font-family: sailecMedium;
}
img {
  // position: relative;
  // z-index: -1;
}
body{
  scroll-behavior: smooth;
}
.bck-to-top{
  height:50px;
  width:50px;
  border-radius: 100%;
  background:#7bbd21;
  z-index:100;
  bottom:0;
  right:0;
  font-size:30px;
  text-align: center;
  position:fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  a{
    color:black;
  }
}